<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= @user.name %></strong>
</p>

<p>
  <strong>@<%= @user.username %></strong>
  
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<div class="">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>